<launch>
    <!-- 全局规划 -->
    <!-- <node name="global_path_pub" pkg="mpc_dcbf" type="global_path_pub"/> -->
    <node name="global_path_by_rviz" pkg="mpc_dcbf" type="global_path_by_rviz"/>

    <!-- 清华大学mpc_dcbf局部规划 -->
    <node name="local_planner" pkg="mpc_dcbf" type="mpc_dcbf.py" output="screen"/>
    <!-- <node name="local_planner" pkg="mpc_dcbf" type="mpc_dcbf_soft.py" output="screen"/> -->

    <!-- 控制指令 -->
    <node name="controller" pkg="mpc_dcbf" type="controller.py"/>

</launch>