<launch>
  <arg name="odometry_topic" default = "/odom_horizon"/>
  <arg name="marker_topic" default = "/vis_mesh"/>

  
  <node pkg="robot_simulator" type="hunter_visualizer_node" name="hunter_visualizer_node" output="screen">
    <param name="ugv/mesh" value="package://robot_simulator/param/hunter_se.STL" type="string"/>
    <remap from="~odometry" to="$(arg odometry_topic)"/>
    <remap from="~odom_mesh" to="$(arg marker_topic)"/>
  </node>

</launch>
